# System files
.DS_Store
Thumbs.db

# Python
__pycache__/
*.py[cod]
*.pyc

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Environment files
.env

# Node
node_modules/
npm-debug.log*

# Logs
*.log

# Cache
.cache 