{
    "name": "canada_main_001",
    "completion_URL": "https://app.prolific.com/submissions/complete?cc=CWHUML2T",
    "notes": "ICLR Workshop study for Canada",
    "conditions": [
        {
            "name": "0001_social media",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=0",
            "participants": 3
        },
        {
            "name": "0001_death",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=1",
            "participants": 3
        },
        {
            "name": "0005_grandparents",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=2",
            "participants": 3
        },
        {
            "name": "0011_divorce",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=3",
            "participants": 3
        },
        {
            "name": "0016_masculinity",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=4",
            "participants": 3
        },
        {
            "name": "0000_rich person",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=5",
            "participants": 3
        },
        {
            "name": "0006_government",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=6",
            "participants": 3
        },
        {
            "name": "0009_protest",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=7",
            "participants": 3
        },
        {
            "name": "0003_doctor",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=8",
            "participants": 3
        },
        {
            "name": "0001_intelligent person",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=9",
            "participants": 3
        },
        {
            "name": "0009_cheating",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=10",
            "participants": 3
        },
        {
            "name": "0001_art",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=11",
            "participants": 3
        },
        {
            "name": "0001_healthcare",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=12",
            "participants": 3
        },
        {
            "name": "0000_public transport",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=13",
            "participants": 3
        },
        {
            "name": "0000_mental health",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=14",
            "participants": 3
        },
        {
            "name": "0004_peace",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=15",
            "participants": 3
        },
        {
            "name": "0003_immigrants",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=16",
            "participants": 3
        },
        {
            "name": "0001_poor person",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=17",
            "participants": 3
        },
        {
            "name": "0002_mother",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=18",
            "participants": 3
        },
        {
            "name": "0004_homosexuality",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=19",
            "participants": 3
        },
        {
            "name": "0007_priest/spiritual leader",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=20",
            "participants": 3
        },
        {
            "name": "0010_abortion",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=21",
            "participants": 3
        },
        {
            "name": "0001_terrorism",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=22",
            "participants": 3
        },
        {
            "name": "0000_god",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=23",
            "participants": 3
        },
        {
            "name": "0002_crime",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=24",
            "participants": 3
        },
        {
            "name": "0002_hell",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=25",
            "participants": 3
        },
        {
            "name": "0000_independence",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=26",
            "participants": 3
        },
        {
            "name": "0000_angry",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=27",
            "participants": 3
        },
        {
            "name": "0003_heaven",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=28",
            "participants": 3
        },
        {
            "name": "0003_neighborhood",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=29",
            "participants": 3
        },
        {
            "name": "0000_university",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=30",
            "participants": 3
        },
        {
            "name": "0006_pray",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=31",
            "participants": 3
        },
        {
            "name": "0000_family",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=32",
            "participants": 3
        },
        {
            "name": "0004_wedding",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=33",
            "participants": 3
        },
        {
            "name": "0012_sex",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=34",
            "participants": 3
        },
        {
            "name": "0010_human rights",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=35",
            "participants": 3
        },
        {
            "name": "0002_hospital",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=36",
            "participants": 3
        },
        {
            "name": "0004_home",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=37",
            "participants": 3
        },
        {
            "name": "0013_suicide",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=38",
            "participants": 3
        },
        {
            "name": "0000_beauty",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=39",
            "participants": 3
        },
        {
            "name": "0008_police",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=40",
            "participants": 3
        },
        {
            "name": "0002_race (human categorization)",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=41",
            "participants": 3
        },
        {
            "name": "0005_funeral",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=42",
            "participants": 3
        },
        {
            "name": "0000_war",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=43",
            "participants": 3
        },
        {
            "name": "0005_heavy drinkers",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=44",
            "participants": 3
        },
        {
            "name": "0004_pill",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=45",
            "participants": 3
        },
        {
            "name": "0001_happy",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=46",
            "participants": 3
        },
        {
            "name": "0006_unmarried couples",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=47",
            "participants": 3
        },
        {
            "name": "0007_political party",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=48",
            "participants": 3
        },
        {
            "name": "0008_housewife",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=49",
            "participants": 3
        },
        {
            "name": "0014_violence",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=50",
            "participants": 3
        },
        {
            "name": "0015_penalty",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=51",
            "participants": 3
        },
        {
            "name": "0017_femininity",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=52",
            "participants": 3
        },
        {
            "name": "0001_father",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=53",
            "participants": 3
        },
        {
            "name": "0001_drug addiction",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=54",
            "participants": 3
        },
        {
            "name": "0007_feminism",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=55",
            "participants": 3
        },
        {
            "name": "0003_unemployment",
            "experiment_URL": "https://culturalstudy.github.io?param1=359CEFAA4095485B&param2=56",
            "participants": 3
        }
    ]
}