{
    "name": "india_pilot_01",
    "completion_URL": "https://app.prolific.com/submissions/complete?cc=CZLC9SSO",
    "notes": "First pilot study for India",
    "conditions": [
        {
            "name": "0018_penalty",
            "experiment_URL": "https://culturalstudy.github.io?param1=83C17D8F9074EC4C&param2=0",
            "participants": 2
        },
        {
            "name": "0009_unemployment",
            "experiment_URL": "https://culturalstudy.github.io?param1=83C17D8F9074EC4C&param2=1",
            "participants": 2
        },
        {
            "name": "0011_shoes",
            "experiment_URL": "https://culturalstudy.github.io?param1=83C17D8F9074EC4C&param2=2",
            "participants": 2
        },
        {
            "name": "0005_hell",
            "experiment_URL": "https://culturalstudy.github.io?param1=83C17D8F9074EC4C&param2=3",
            "participants": 2
        },
        {
            "name": "0005_sport organization",
            "experiment_URL": "https://culturalstudy.github.io?param1=83C17D8F9074EC4C&param2=4",
            "participants": 2
        },
        {
            "name": "0011_cynical",
            "experiment_URL": "https://culturalstudy.github.io?param1=83C17D8F9074EC4C&param2=5",
            "participants": 2
        },
        {
            "name": "0008_army",
            "experiment_URL": "https://culturalstudy.github.io?param1=83C17D8F9074EC4C&param2=6",
            "participants": 2
        },
        {
            "name": "0005_neighborhood",
            "experiment_URL": "https://culturalstudy.github.io?param1=83C17D8F9074EC4C&param2=7",
            "participants": 2
        },
        {
            "name": "0020_proud",
            "experiment_URL": "https://culturalstudy.github.io?param1=83C17D8F9074EC4C&param2=8",
            "participants": 2
        },
        {
            "name": "0012_capable",
            "experiment_URL": "https://culturalstudy.github.io?param1=83C17D8F9074EC4C&param2=9",
            "participants": 2
        }
    ]
}